{% extends 'post/generic/index.html' %}
{% block contend %}
    <div class="pt-2">
        <div class="card rounded border border-dark" style="border-radius:21px;">
            <div class="card-header bg-dark">
                <h2 class=" card-header-tabs text-light">{{post.title}}</h2>
                <div class="row text-muted pt-3 pb-2" >
                    <div class="col-4"> <h5>
                        Posted by : {{post.posted_by}}</h5>
                        {{post.posted_by.email}}
                    </div>

                <div class="col "> <h5> Label : {{post.label}} </div>
                <div class="col ">{{post.posted_at}}</div>
                
            </div>
            <div class="card-body bg-warning">
                
                <p class="card-text">{{post.content}}</p>
                <em><a href="{% url 'view_posts'  %}" class="" text-dark> Show all posts</a></em>
            </div>

            <h3 class="text-light"> Comments</h3>
            <section class="nt-1 text-light">
                {% for comment in  comments%}
                    <div class="border-top " style="border-radius:9px; padding: 18px;">
                        <p>
                        {{comment.description}}
                        </p>
                        <p class="text-end text-muted small" style="float:right;">
                            <em>{{comment.commented_by}} {{"commented at"}}  {{comment.commented_at}}</em>
                        </p>
                    </div>    
                {% endfor %}
                <div class="link  pr-4">
                    <a href="{% url 'post_comment' id=post.id %}">Comment here</a>
                </div>
                

            </section>
            
        </div>
    </div>

  {% endblock contend %}